body {
    margin: 0;
    padding: 0;
    background: url("./img/bg3.png") no-repeat center center fixed;
    background-size: cover;    
}

.container{
    height: 100vh;
}

.box{
    border-left: 8px solid #eff1fd;
    border-right: 8px solid #eff1fd;
    padding: 24px;
}

.square1{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 100px;
    top: 77px;
    background-color: #eff1fd;
}

.square2{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 110px;
    top: 72px;
    background-color: #eff1fd;
}

.square14{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 134px;
    top: 72px;
    background-color: #eff1fd;
}

.square22{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 108px;
    top: 74px;
    opacity: 0.6;
    background-color: #d3d9ef;
}

.timer{
    font-family: 'Press Start 2P', monospace;
    height: 60vh;
    font-size: 48px;
    color: #eff1fd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    font-family: 'Press Start 2P', monospace;
    border: 2px solid #eff1fd;
    height: 36px;
    width: 100px;
    background-color: transparent;
    font-size: 16px;
    color: #eff1fd;
}