body {
    margin: 0;
    padding: 0;
    background: url("./img/bg.jpeg") no-repeat center center fixed;
    background-size: cover;    
}

.container{
    height: 100vh;
}

.box{
    width: 600px;   /* same as your border image width */
    height: 100px;  /* same as your border image height */
    background: url('./img/border1.png') no-repeat center center;
    background-size: 600px 400px;
}

.timer{
    font-family: 'Press Start 2P', monospace;
    height: 60vh;
    font-size: 60px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .timer {
    
    font-size: 50px;
    color: ivory;
    text-rendering: optimizeSpeed;
}

.box{
    width: max-content ;
    border: 1px solid white;
}

span{
    padding: 4px;
    margin: 8px;
}

.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative; */
    /* flex-direction: column;
    justify-content: center;

} */