body {
    margin: 0;
    padding: 0;
    background: url("./img/bg3.png") no-repeat center center fixed;
    background-size: cover;    
}

.container{
    height: 100vh;
}

.box{
    border-left: 8px solid #eff1fd;
    border-right: 8px solid #eff1fd;
    padding: 24px;
}

.square1{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 100px;
    top: 77px;
    background-color: #eff1fd;
}