body {
    margin: 0;
    padding: 0;
    background: url("./img/bg.jpeg") no-repeat center center fixed;
    background-size: cover;    
}

.container{
    height: 100vh;
}

.box{
    border-left: 8px solid #FDFBFC;
    border-right: 8px solid #FDFBFC;
    padding: 24px;
}

.square1{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 47px;
    top: 72px;
    background-color: transparent;
}

.square2{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 55px;
    top: 72px;
    background-color: #FDFBFC;
}

.square3{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 79px;
    top: 72px;
    background-color: #FDFBFC;
}

.line1{
    position: fixed;
    height: 8px;
    width: 380px;
    left: 103px;
    top: 72px;
    background-color: #FDFBFC;
}

.square4{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 79px;
    top: 72px;
    background-color: #FDFBFC;
}

.square5{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 55px;
    top: 72px;
    background-color: #FDFBFC;
}

.square6{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 47px;
    top: 72px;
    background-color: transparent;
}

.square7{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 47px;
    top: 179px;
    background-color: transparent;
}

.square8{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 55px;
    top: 179px;
    background-color: #FDFBFC;
}

.square9{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 79px;
    top: 179px;
    background-color: #FDFBFC;
}

.line2{
    position: fixed;
    height: 8px;
    width: 380px;
    left: 103px;
    top: 179px;
    background-color: #FDFBFC;
}

.square10{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 79px;
    top: 179px;
    background-color: #FDFBFC;
}

.square11{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 55px;
    top: 179px;
    background-color: #FDFBFC;
}

.square12{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 47px;
    top: 179px;
    background-color: transparent;
}

.square13{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 67px;
    top: 65px;
    background-color: #FDFBFC;
}

.square14{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 91px;
    top: 65px;
    background-color: #FDFBFC;
}

.square15{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 67px;
    top: 65px;
    background-color: #FDFBFC;
}

.square16{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 91px;
    top: 65px;
    background-color: #FDFBFC;
}

.square17{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 91px;
    top: 186px;
    background-color: #FDFBFC;
}

.square18{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 67px;
    top: 189px;
    background-color: #FDFBFC;
}

.square19{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 67px;
    top: 189px;
    background-color: #FDFBFC;
}

.square20{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 91px;
    top: 189px;
    background-color: #FDFBFC;
}

.timer{
    font-family: 'Press Start 2P', monospace;
    height: 60vh;
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    font-family: 'Press Start 2P', monospace;
    border: 2px solid #FDFBFC;
    height: 36px;
    width: 100px;
    background-color: transparent;
    font-size: 16px;
    color: #FDFBFC;
}

/* .start{

} */