body {
    margin: 0;
    padding: 0;
    background: url("./img/bg3.png") no-repeat center center fixed;
    background-size: cover;    
}

.container{
    height: 100vh;
}

.box{
    border-left: 8px solid #d8ddfa;
    border-right: 8px solid #d8ddfa;
    padding: 24px;
}

.square1{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 100px;
    top: 77px;
    background-color: #d8ddfa;
}

.square2{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 98px;
    top: 78px;
    opacity: 0.6;
    background-color: #d3d9ef;
}

.square3{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 122px;
    top: 78px;
    background-color: #d8ddfa;
}
.square6{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 120px;
    top: 80px;
    opacity: 0.6;
    background-color: #d3d9ef;
}

.line1{
    position: fixed;
    height: 8px;
    width: 295px;
    left: 146px;
    top: 78px;
    background-color: #d8ddfa;
}

.square4{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 98px;
    top: 78px;
    background-color: #d8ddfa;
}

.square5{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 122px;
    top: 78px;
    background-color: #d8ddfa;
}

.square8{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 98px;
    top: 176px;
    background-color: #d8ddfa;
}

.square9{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 122px;
    top: 176px;
    background-color: #d8ddfa;
}

.line2{
    position: fixed;
    height: 8px;
    width: 295px;
    left: 146px;
    top: 176px; 
    background-color: #d8ddfa;
}

.square10{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 98px;
    top: 176px;
    background-color: #d8ddfa;
}

.square11{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 122px;
    top: 176px;
    background-color: #d8ddfa;
}


.square13{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 110px;
    top: 72px;
    background-color: #d8ddfa;
}

.square14{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 134px;
    top: 72px;
    background-color: #d8ddfa;
}

.square15{
    position: fixed;
    height: 8px;
    width: 12px;
    right:110px;
    top: 72px;
    background-color: #d8ddfa;
}

.square16{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 134px;
    top: 72px;
    background-color: #d8ddfa;
}

.square17{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 110px;
    top: 182px;
    background-color: #d8ddfa;
}

.square18{
    position: fixed;
    height: 8px;
    width: 12px;
    right: 134px;
    top: 182px;
    background-color: #d8ddfa;
}

.square19{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 110px;
    top: 182px;
    background-color: #d8ddfa;
}

.square20{
    position: fixed;
    height: 8px;
    width: 12px;
    left: 134px;
    top: 182px;
    background-color: #d8ddfa;
}

.timer{
    font-family: 'Press Start 2P', monospace;
    height: 60vh;
    font-size: 48px;
    color: #d8ddfa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    font-family: 'Press Start 2P', monospace;
    border: 2px solid #d8ddfa;
    height: 36px;
    width: 100px;
    background-color: transparent;
    font-size: 16px;
    color: #d8ddfa;
}

/* .start{

} */