body {
    margin: 0;
    padding: 0;
    background: url("./img/bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

/* .timer {
    font-family: 'Press Start 2P', monospace;
    font-size: 50px;
    color: ivory;
    text-rendering: optimizeSpeed;
}

.box{
    width: max-content ;
    border: 1px solid white;
}

span{
    padding: 4px;
    margin: 8px;
}

.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    justify-content: center;

} */