body {
    margin: 0;
    padding: 0;
    background: url("./img/bg.jpeg") no-repeat center center fixed;
    background-size: cover;    
}

.container{
    height: 100vh;
}

.box{
    border-left: 12px solid #FDFBFC;
    border-right: 12px solid #FDFBFC;
    padding: 24px;
}

.square1{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 47px;
    top: 72px;
    background-color: transparent;
}

.square2{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 55px;
    top: 72px;
    background-color: #FDFBFC;
}

.square3{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 79px;
    top: 72px;
    background-color: #FDFBFC;
}

.line1{
    position: fixed;
    height: 12px;
    width: 379px;
    left: 103px;
    top: 72px;
    background-color: #FDFBFC;
}

.square4{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 79px;
    top: 72px;
    background-color: #FDFBFC;
}

.square5{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 55px;
    top: 72px;
    background-color: #FDFBFC;
}

.square6{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 47px;
    top: 72px;
    background-color: transparent;
}

.square7{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 47px;
    top: 179px;
    background-color: transparent;
}

.square8{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 55px;
    top: 179px;
    background-color: #FDFBFC;
}

.square9{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 79px;
    top: 179px;
    background-color: #FDFBFC;
}

.line2{
    position: fixed;
    height: 12px;
    width: 379px;
    left: 103px;
    top: 179px;
    background-color: #FDFBFC;
}

.square10{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 79px;
    top: 179px;
    background-color: #FDFBFC;
}

.square11{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 55px;
    top: 179px;
    background-color: #FDFBFC;
}

.square12{
    position: fixed;
    height: 12px;
    width: 12px;
    right: 47px;
    top: 179px;
    background-color: transparent;
}

.square13{
    position: fixed;
    height: 12px;
    width: 12px;
    left: 67px;
    top: 62px;
    background-color: #FDFBFC;
}

.square13{
    position: fixed;
    height: 12px;
    width: 12px;
    leftt: 67px;
    top: 62px;
    background-color: #FDFBFC;
}


.timer{
    font-family: 'Press Start 2P', monospace;
    height: 60vh;
    font-size: 60px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .timer {
    
    font-size: 50px;
    color: ivory;
    text-rendering: optimizeSpeed;
}

.box{
    width: max-content ;
    border: 1px solid white;
}

span{
    padding: 4px;
    margin: 8px;
}

.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative; */
    /* flex-direction: column;
    justify-content: center;

} */